drupalphp70devweb:
  build: .
  ports:
    - "82:80"
    - "445:443"
  links:
   - drupalphp70devdb:database
drupalphp70devdb:
  image: mysql:5.7
  volumes_from:
    - mysql-drupal-php70-dev
  environment:
    TERM: xterm
    MYSQL_ROOT_PASSWORD: password
    MYSQL_USER: user
    MYSQL_PASSWORD: password
    MYSQL_DATABASE: drupalphp70dev
